<div id="beer-flex-row">
    <img src="{{image_url}}">
    <div id="beer-flex-column">
        <a href="/beers/beer-{{id}}">{{name}}</a>
        <p>{{description}}  </p>
        <p>{{tagline}}</p>
    </div>
</div>