{{!-- <img src="{{singleBeer.image_url}}" alt="{{singleBeer.name}}">
<div>
    <h2>{{singleBeer.name}}</h2>
<p>{{singleBeer.tagline}}</p>
<p>{{singleBeer.description}}</p> --}}

{{> beerpartials singleBeer }}
<p>Food pairing: {{singleBeer.food_pairing}}</p>
<p>This is how you brew it: {{singleBeer.brewers_tips}}</p>
</div>


